<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Connexus</title>

    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    {% block head %}
    {% endblock %}
  </head>

  <style>
    #header {
        color:cornflowerblue;
        padding:10px;
    }
    #nav{
        padding:10px;
        background-color: wheat;
    }
    .btn-primary{
        size = 20px;
        text-decoration-color: #262626;
    }
    .glyphicon-plus{
        padding:2px;
        font-size: smaller;
        margin-left: 2px;
    }
  </style>

  <body>
    
    <div id = "header" >
        <h1>Connex.us</h1>
    </div>


    <nav class="navbar navbar-default" role="navigation">
    <div>
      <ul class="nav navbar-nav">
          {% for link in nav_links %}
            {% if path == link %}
                 <li class="active"><a href="{{ nav_links[link] }}">{{link}}</a></li>
            {% else %}
                          <li><a href="{{ nav_links[link] }}">{{ link }}</a></li>
                {% endif %}
        {% endfor %}
      </ul>
   </div>
</nav>

    {% block content %}
    {% endblock %}

  </body>
</html>
{% endautoescape %}
