{% extends "_manage_base.html" %}
{% block content %}
<form action="manage" method="post">

<h3>Streams I own</h3>
  <p>{{usr}}</p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Last New Picture</th>
    <th>Number of Pictures</th>
    <th>Number of Views</th>
    <th>Delete</th>
  </tr>

  {% for row in user_streams %}
    <tr>
      <td>
        <a href="/view_single?stream_id={{ row['stream_id'] }}">{{ row['stream_id'] }}</a>
      </td>
      <td>
        {% if row['last_add'] %}
            {{ row['last_add'] }}
        {% else %}
            -
        {% endif %}
      </td>
      <td>{{ row['num_images']}}</td>
      <td>
        {{ row['views']}}
      </td>
      <td>
        <input type="checkbox" name="stream_id" value="{{ row['stream_id'] }}">
      </td>
    </tr>
  {% endfor %}
</table>

<input type="submit" name="delete" value="Delete Checked">
<input type="hidden" name="user_id" value="{{ user_id }}">
</form>

<form action="manage" method="post">
<h3>Streams I subscribe to</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Last New Picture</th>
    <th>Number of Pictures</th>
    <th>Number of Views</th>
    <th>Unsubscribe</th>
  </tr>

  {% for row in subscribed_streams %}
      <td>
        <a href="/view_single?stream_id={{ row['stream_id'] }}">{{ row['stream_id'] }}</a>
      </td>
      <td>
        {% if row['last_add'] %}
            {{ row['last_add']}}
        {% else %}
            -
        {% endif %}
      </td>
      <td>{{ row['num_images']}}</td>
      <td>{{ row["views"] }}</td>
      <td> <input type="checkbox" name="stream_id" value="{{ row['stream_id'] }}"> </td>
    </tr>
  {% endfor %}
</table>

<input type="submit" name="unsubscribe" value="Unsubscribe Checked Streams">
<input type="hidden" name="user_id" value="{{ user_id }}">
</form>


{% endblock %}
