{% extends "_manage_base.html" %}

{% block head %}
  <script type='text/javascript'>
      $(function() {
        var cache = {};
        var time_check= {};
        $( "#_query" ).autocomplete({
          minLength: 1,
          source: function( request, response ) {
            var term = request.term;
            if ( term in cache ) {
              if (new Date().getTime()-time_check[term]<3600000){ //3600s
                ret_list=[];
                if(cache[term].length>20){
                  for (i = 0; i < 20; i++) {
                    ret_list[ret_list.length]=cache[ term ][i];
                  }
                }else{
                  ret_list=cache[ term ];
                }
                response( ret_list );
                return;
              }
            }


            $.getJSON( "/auto_complete", request, function( data, status, xhr ) {
              if (data.ready){
                cache[ term ] = data.tags;
                time_check[ term ]= new Date().getTime();
                ret_list=[];
                if(cache[term].length>20){
                  for (i = 0; i < 20; i++) {
                    ret_list[ret_list.length]=cache[ term ][i];
                  }
                }else{
                  ret_list=cache[ term ];
                }
                response( ret_list );
              }
            });
          }
        });
      });
    </script>
{% endblock %}

{% block content %}
  <p>
  <form action="/search" method="post">
      <label for="query"> Enter tag to search: </label>
      <input type="text" class="txt" name="query" id="_query">
      <button class="btn btn-default" type="submit">Search</button>
      <input type="hidden" name="user_id" value="{{ user_id }}">
  </form>
  </p>

  {% if query_results is defined %}
{#    {{ query_results |length }} results for <b>{{ query }}</b>#}

    <p>
    {% for row in query_results %}
      <p>
      <a href="/view_single?stream_id={{ row.stream_id }}">
          <img src="{{ row.url }}"></img>
        <h3>{{ row.stream_id }}</h3>
      </a>
      </p>
    {% endfor %}
    </p>
  {% endif %}
  
{% endblock %}
