{% extends "_manage_base.html" %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{#    <style type="text/css">#}
{#        #container {width:1100px;}#}
{#        img { width:200px; height:150px; margin: 0 10px; float:left;}#}
{#    </style>#}
</head>

<body>
<h3>View All Streams</h3>
<br>
{#<!--<div class="row">-->#}
{##}
{#    <!--{% for url in image_url %}-->#}
{#        #}
{#        <!--<div class="col-xs-6 col-md-3"><img src="{{ url }}" class="img-responsive"></div>-->#}
{#    <!--{% endfor %}-->#}
{#<!--</div>-->#}


<div class="container">
    {% for url in image_url %}
        <span class="col-sm-4 col-xs-6">
        <a href=/view_single?stream_id={{url[1]}}>
           <img src="{{ url[0] }}" class = "img-thumbnail"/>
        </a>
        </span>
    {% endfor %}
</div>


</body>
</html>
{% endblock %}

<!--<a href="www.google.com">google</a>-->