{% extends "_manage_base.html" %}
{% block content %}
<meta charset="utf-8">
    <link rel="icon" href="./favicon.ico">
<meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="../js/markerClusterer.js"></script>
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="css/jquery.fileupload.css">
<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  var max_date = Number(99999999);
  var min_date = Number(0);
  var markers = [];
  var markerClusterer;
  $(function() {
      var min = {{ mindate }}
      var max = {{ maxdate }}
      if (min == null)
        min = 20150000
      if (max == null)
        max = 20151200
    $( "#slider-range" ).slider({
      range: true,
      min: min-5,
      max: max+5,
      values: [ min-5, max+5 ],
      slide: function( event, ui ) {
        $( "#amount" ).val(  ui.values[ 0 ] + " - " + ui.values[ 1 ] );
          max_date = Number(ui.values[1])
          min_date = Number(ui.values[0])
          refreshMarker();
        }
    });

    $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
      " - " + $( "#slider-range" ).slider( "values", 1 ) );
  });
  </script>
<body>





{#play with google map api#}
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var map;
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
    map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    markerClusterer = new MarkerClusterer(map);
    refreshMarker();

}

    function refreshMarker(){
        markers = [];
        markerClusterer.clearMarkers();
        {% for image in image_url %}
        {% if image != "" %}
            var lat = "{{ image["lat"]}}"
            var long = "{{ image["long"]}}"
            var url = "{{ image["url"] }}"
            var date = Number("{{ image["time"] }}")
            addMarker(lat,long,url,date);
        {% endif %}
    {% endfor %}
     {% for image in hidden_image %}
        {% if image != "" %}
            var lat = "{{ image["lat"]}}"
            var long = "{{ image["long"]}}"
            var url = "{{ image["url"] }}"
            var date = Number("{{ image["time"] }}")
            addMarker(lat,long,url,date);
        {% endif %}
    {% endfor %}
        var options = {
      'zoom': 13,
    };
        markerClusterer.addMarkers(markers);
    }


function addMarker(lat,long,url,date) {
      var myCenter=new google.maps.LatLng(lat,long);
    var marker=new google.maps.Marker({
    position:myCenter,
  });
    if(date >= min_date && date <= max_date){
        markers.push(marker);
    }
    else
        marker.setMap(null);
    var infowindow = new google.maps.InfoWindow({
    content: '<IMG BORDER="0" WIDTH="100" HEIGHT="100" ALIGN="Left" SRC="' + url + '">'
  });
    google.maps.event.addListener(marker, 'mouseover', function() {
  infowindow.open(map,marker);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

{#<form action="view_single" method="post">#}
{#<input type="submit" name="more" value="More pictures">#}
<input type="hidden" name="user" value="{{ user }}">
<input type="hidden" name="stream_id" value="{{ stream_id}}">

{% if has_image %}
<div class="container" >
    <!--Display-->
    <div class="row">
        {% for url in image_url %}
        <div class="col-sm-4 col-xs-6">
            {% if url != "" %}
                <a href="#">
                    <img src="{{url["url"]}}" class="img-thumbnail">

                </a>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
{% endif %}

{% if has_image %}
<div class="container collapse" id = "image_secondrow">
    <!--Display-->
    <div class="row">
        {% for url in hidden_image %}
        <div class="col-sm-4 col-xs-6">
            {% if url != "" %}
                <a href="#">
                    <img src="{{url["url"]}}" class="img-thumbnail">

                </a>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
{% endif %}

{% if owner == user %}
{#    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">#}
{#    <h3>Add an Image</h3>#}
{#    <table class="table table-striped">#}
{#        <tr>#}
{#            <th><input type="file" name="image"/></th>#}
{#            <th><input type="submit" name="upload" value="Upload file"></th>#}
{#        </tr>#}
{#    </table>#}
{#    </form>#}

    <form id="fileupload" action="upload_image" method="post" enctype="multipart/form-data">
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar" id = "btnRow">
        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <input type="file" name="files[]" multiple>
            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#image_secondrow">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span>View More</span>
            </button>
{#            <a href="#image_secondrow" class="btn btn-info" data-toggle="collapse">#}
{#                <i class="glyphicon glyphicon-eye-open"></i>#}
{#                View More</a>#}
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>

    <input type="hidden" name="stream_id" value="{{ stream_id }}">
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <input type="hidden" name="redirect" value="/viewstream?user_id={{ user_id }}&stream_id={{stream_id}}">
    </form>

<!-- The template to display files available for upload -->

{% raw %}
    <script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
{% endraw %}
</script>

    <!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% raw %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endraw %}



{% elif hasSub %}
    <div class="row fileupload-buttonbar" id = "btnRow">
        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <form action="/view_single?stream_id={{ stream_id }}" method="post">
                <button class ="btn btn-success" name="Subscribe" type="submit" value="Unsubscribe">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    Unsubscribe
                </button>
{#            <span class="btn btn-success fileinput-button">#}
{#                <i class="glyphicon glyphicon-plus"></i>#}
{#                <span>Subscribe</span>#}
{#                <input type="submit" name="files[]" multiple>#}
{#            </span>#}
{#            <button type="submit" class="btn btn-primary start">#}
{#                <i class="glyphicon glyphicon-upload"></i>#}
{#                <span>Start upload</span>#}
{#            </button>#}
{#            <button type="reset" class="btn btn-warning cancel">#}
{#                <i class="glyphicon glyphicon-ban-circle"></i>#}
{#                <span>Cancel upload</span>#}
{#            </button>#}
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#image_secondrow">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span>View More</span>
            </button>
            </form>
        </div>
    </div>

{#    <form action="/view_single?stream_id={{ stream_id }}" method="post">#}
{#    <input type="submit" name="Subscribe" value="Unsubscribe">#}
{#    </form>#}
{% else %}
    <div class="row fileupload-buttonbar" id = "btnRow">
        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <form action="/view_single?stream_id={{ stream_id }}" method="post">
                <button class ="btn btn-success" name="Subscribe" type="submit" value="Subscribe">
                    <i class="glyphicon glyphicon-plus"></i>
                    Subscribe
                </button>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#image_secondrow">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span>View More</span>
            </button>
            </form>
        </div>
    </div>
{% endif %}


<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->

<div class="container" id = "mapContainer">
<div id="googleMap"></div>
    <p>
  <label for="amount">Date range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="slider-range"></div>
</div>

</body>
</html>

{% endblock %}




